{{template "layout/head.html" .}}

<link href="/static/select2/select2.css" rel="stylesheet" type="text/css" />
<link href="/static/css/select2-bootstrap.css" rel="stylesheet" type="text/css" />

<div class="container" style="margin-top: 20px;">
	<div class="row">
		<div class="col-md-12">
			<div style="margin: 0 auto; max-width: 400px;">

				<ol class="breadcrumb">
					<li><a href="/">Home</a></li>
					<li><a href="/me/teams">UserGroup List</a></li>
					<li class="active">Edit UserGroup</li>
				</ol>

				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Edit Team: {{.TargetTeam.Name}}</h3>
					</div>
					<div class="panel-body">
						<div class="form-group">
							<label for="resume">Description(Optional):</label> <input
							type="text" id="resume" class="form-control" value="{{.TargetTeam.Resume}}"/>
						</div>
						<div class="form-group">
							<label for="users">Members:</label> <input
							type="text" id="users" class="form-control" value="{{.TargetTeam.UserIds}}"/>
						</div>
						<button type="button" class="btn btn-default" onclick="edit_team('{{.TargetTeam.Id}}');">
							<span class="glyphicon glyphicon-floppy-disk"></span>
							Update
						</button>
						<a href="/me/teams" class="btn btn-default">
							<span class="glyphicon glyphicon-arrow-left"></span>
							Back
						</a>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

<script src="/static/select2/select2.min.js" type="text/javascript"></script>
<script type="text/javascript">
$(function() {
	$("#users").select2({
        placeholder: "input members' names",
        allowClear: true,
        multiple: true,
        quietMillis: 100,
        minimumInputLength: 0,
        id: function(obj){return obj.id;},
        initSelection: function(element, callback) {
        	$.getJSON("/team/users?name={{.TargetTeam.Name}}", function(json) {
        		callback(json.users);
        	});
        },
        ajax: {
            url: "/user/query",
            dataType: 'json',
            data: function(term, page) {
                return {
                    query: term,
                    limit: 20
                };
            },
            results: function(json, page) {
                return {results: json.users};
            }
        },
        formatResult: function(obj) {return obj.name + "["+obj.cnname+"]" + "["+obj.email+"]"},
        formatSelection: function(obj) {return obj.name},
    });
});
</script>

{{template "layout/foot.html" .}}