{{template "layout/head.html" .}}

<header class="text-center" style="margin-top:20px;">
	<img src="/static/img/logo.png" width="60" height="60">
	<h3 class="font-bold">OpsPlatform</h3>
</header>

<hr>

<div class="links">
	<div class="link-head">
		<span class="glyphicon glyphicon-user"></span> team management
	</div>
	<div class="link-body">
		<ul class="catlist">
			<li>
				<a href="/auth/login">login/logout</a>
			</li>
			<li>
				<a href="/me/profile">Personal Info</a>
			</li>
			<li>
				<a href="/me/users">Contacts</a>
			</li>
			<li>
				<a href="/me/teams">User Group Manage</a>
			</li>
		</ul>
	</div>

	<div class="link-head">
		<span class="glyphicon glyphicon-dashboard"></span> Monitor system
	</div>
	<div class="link-body">
		<ul class="catlist">
			<li>
				<a target="_blank" href="{{.Shortcut.FalconPortal}}">Portal</a>
			</li>
			<li>
				<a target="_blank" href="{{.Shortcut.FalconDashboard}}">Dashboard</a>
			</li>
			<li>
				<a target="_blank" href="{{.Shortcut.FalconAlarm}}">Unrecovered alarms</a>
			</li>
		</ul>
	</div>

</div>

{{template "layout/foot.html" .}}